.user-header {
    display: flex;

    .display-name {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: medium;
    }
}

.about-user {
    p {
        word-break: break-all;
    }
}