.friend-list {
    width: 50%;
    .scroll-list {
        .friend-list-divider {

        }
        .friend-item {
            .friend-header {
                margin-bottom: 25px;
                .user-header {
                    .MuiAvatar-root {
                        width: 60px;
                        height: 60px;
                    }
                    .display-name {
                        font-size: x-large;
                    }
                }
                .about-user {
                    margin-top: -30px;
                    padding-left: 76px;
                    font-size: large;
                }
            }
        }
    }
}