.friend-detail {
    width: 50%;
    .friend-detail-header {
        margin-bottom: 40px;
        .user-header {
            .MuiAvatar-root {
                width: 80px;
                height: 80px;
            }
            .display-name {
                font-size: x-large;
            }
        }
        .about-user {
            margin-top: -40px;
            padding-left: 96px;
            font-size: large;
        }
    }
}