.my-profile-edit {
    width: 50%;
    .user-header-form {
        display: flex;
        margin-bottom: 20px;
        .user-avatar {
            .MuiAvatar-root{
                width: 80px;
                height: 80px;
            }
            .display-name {
                font-size: x-large;
            }
            a {
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
        .profile-container {
            display: flex;
            flex-direction: column;
            width: 80%;

            .user-name-field {
                margin: 10px 0 20px;
            }
            .about-field {
                width: 100%;
            }
        }
    }
    .button-container {
        padding-left: 96px;
    }
}