.dm-item {
    .message {
        margin-top: -10px;
        margin-right: 10px;
        padding: 0 0 0 56px;
        overflow-wrap: break-word;
    }
    .button-container {
        margin: 10px 0 10px 56px;
    }
}