.dm-create {
    width:50%;

    .form-container {
        display: flex;
        flex-direction: column;

        .makeStyles-formControl-6 {
            width: 250px;
            margin-left: 0;
        }
        .makeStyles-formControl-7 {
            width: 250px;
            margin-left: 0;
        }
        .makeStyles-formControl-9 {
            width: 250px;
            margin-left: 0;
        }
        .makeStyles-formControl-11 {
            width: 250px;
            margin-left: 0;
        }
        .MuiFormControl-root.jss8 {
            width: 250px;
            margin-left: 0;
        }
        margin-bottom: 20px;
    }
}