.create-post {
  display: flex;
  height: 18vh;

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .textarea {
      width: 90%;
      padding-right: 10px;
    }
    .button-container {
      display: flex;
      align-items: flex-end;
      button {
        margin-bottom: 5px;
        height: 36px;
        width: 88.45px;
      }
    }
  }
}
