.create-post {
  display: flex;
  height: 18vh;

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    textarea {
      margin-top: 8px;
      height: 90%;
      width: 90%;
    }
    .button-container {
      display: flex;
      align-items: flex-end;
      button {
        margin-bottom: 5px;
        height: 30px;
      }
    }
  }
}
