.create-post{
    display: flex;
    justify-content: space-between;
    height: 18vh;

    textarea {
        margin-top: 8px;
        height: 90%;
        width: 70%;
    }
    .button-container{
        display: flex;
        align-items: flex-end;
        button {
            margin-bottom: 5px;
            height: 30px;
        } 
    }
    
}